<div class="container">
    <div class="text-center">
        <h1 class="text-dark">Welcome to Zyonel's blog</h1>
        <h4 class="text-danger"><i>News on Tech and Software Development</i></h4>
    </div>

    <div class="text-secondary my-4 ml-5">
        <h3><b>Latest Articles</b></h3>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{#each articles}}
                <div class="card mb-4 bg-light text-danger">
                    <div class="card-body">
                        <h5 class="card-title text-dark">{{this.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{this.author}}</h6>
                        <p class="card-text"> {{this.snippet}}</p>
                        <p class="card-text text-dark"> {{Date this.createdAt}}</p>
                        <button class="btn btn-info"><a href="/articles/{{this.slug}}" class="text-white">Read
                                More</a></button>
                    </div>
                </div>
                {{/each}}
            </div>

            <div class="col-md-4">
                <div class="bg-danger p-1 pl-3 mb-3">
                    <h3 class="text-white "><b>Trending Articles</b></h3>
                </div>
                {{#each views}}
                <div class="card-title">
                    <ul class="list-group">
                        <li class="list-group-item"><a class="text-info"
                                href="/articles/{{this.slug}}">{{this.title}}</a></li>
                    </ul>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

</div>

{{>footer}}